@{
  Layout = "_Layout";
}

<h1>Add a category</h1>
<p>Add a category here:</p>

<form action="/animalTypes" method="post">
  <label for="animalTypeName">Animal Type name</label>
  <input id="animalTypeName" name="animalType" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/animalTypes">Back to categories.</a></p> 