@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;

<h3>Here are all the items in this category:</h3>

<ol>
@foreach (Pet pet in @Model["items"])
{
  <li><a href='/animalType/@Model["animalType"].Id/pets/@pet.Id'>@pet.Description</a></li>
}
</ol>

<p><a href='/animalType/@Model["animalTypes"].Id/pets/new'>Add a new item</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p> 